* {
    margin: 0;
}

#app {
    height: 100vh;
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PingFang SC';
}

.markdown-body {
    background-color: transparent !important;
}
